
.content{
  background-image: url(images/most_main.png);
  width: 1428px;
  height: 731px;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 37px;
}

.form {
  background-image: url(images/form.png);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100px;
  width: 1428px;
  height: 230px;
  font-family: "OpenSans";
  color: rgb(220, 223, 152);
}

.form h1, p{
  margin-left: 370px;
}

.form h1{
  font-size: 45px;
  margin-top: 30px;
}

.form p{
  position: relative;
  margin-top: -30px;
}

.list{
  font-family: "OpenSans";
  position: absolute;
  left: 365px;
  top: 150px;
  width: 700px;
  height: 37px;
  display: flex;
  justify-content: flex-start;

}

.list a{
  text-align: center;
  text-decoration: none;
  width: 172px;
  background-color: rgb(88, 168, 86);
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 32px;
  font-family: "OpenSans";
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.input{
  background-color: rgba(59,50,55,0.3);
  color: rgb(220, 223, 152);
  font-family: "OpenSans";
  font-size: 14px;
  border: 1px solid rgb(220, 223, 152);
  border-radius: 8px;
  height: 30px;
  width: 125px;
  padding-left: 10px;
  margin-right: 10px;
}

.input:hover{
  border: 5px solid rgb(220, 223, 152);
  border-radius: 12px;
}

#login{
  width: 162px;
}
